{% extends 'main/base.html' %}


{% block title %}Sign Up{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container p-5 my-5 border">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field|as_crispy_field }}
        {% endfor %}
        <p>Have an account? <a href="/login">Login</a></p>
        <button type="submit" class="btn btn-success">Register</button>
    </form>
    {% comment %} <form method="post">
        {% csrf_token %}{{form}}
        <p>Have an account? <a href="/login">Login</a></p>
        <button type="submit" class="btn btn-success">Register</button>
    </form> {% endcomment %}
</div>

    
{% endblock content %}
    
    