{% extends 'main/base.html' %}
{% load static %}


{% block title %}Explore{% endblock title %}


{% block content %}
    {%for x in musics %}
        <a href="{% url 'music_profile' x.id%}" class="link-offset-2 link-underline link-underline-opacity-0">
            <div class="card mt-2">
                <div class="card-header"><strong>@{{ x.author.username }}</strong></div>
                <div class="card-body d-flex flex-row justify-content-between">
                    <div>
                        <h5 class="card-title">{{x.title}}</h5>
                    </div>
                </div>
                <div class="card-footer"><strong>{{ x.create_at }}</strong></div>
            </div>
        </a>
    {%empty%}
        <p>No posts yet :(</p>
    {% endfor %}
{% endblock content %}
    
    