{% extends 'main/base.html' %}


{% block title %}Home Page{% endblock title %}


{% block content %}
    {%for x in musics %}
        <div class="card mt-2">
            <div class="card-header"><strong>@{{ x.author.username }}</strong></div>
            <div class="card-body d-flex flex-row justify-content-between">
                <div>
                    <h5 class="card-title">{{x.title}}</h5>
                </div>
                <div>
                    {% if user == x.author %}
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" name="delete-music" value={{x.id}}>DELETE</button>
                        </form>
                    {% endif %}   
                </div>
            </div>
            <div class="card-footer"><strong>{{ x.create_at }}</strong></div>
        </div>
    {%empty%}
        <p>No posts yet :(</p>
    {% endfor %}
{% endblock content %}
    
    