{% extends 'main/base.html' %}


{% block title %}My Profile{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
<div>
    <h3> upload new music</h3>
    <form method="post" class="text-light" enctype="multipart/form-data">
        {% csrf_token %}{{form|crispy}}
        <button type="submit" class="button button-success">Upload</button>
    </form>
</div>

{% if musics %}
    <h2>Your Musics</h2>
    <div class="row">
        {% for music in musics %}
            <div class="col-md-4 mb-4">
                <a href="{% url 'music_profile' music.id%}" class="link-offset-2 link-underline link-underline-opacity-0">
                    <div class="card">
                        <h5 class="card-title">{{ music.title }}</h5>
                        <div class="d-flex flex-row justify-content-between">
                            <audio controls class="mb-2">
                                <source src="{{ music.audio_file.url }}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                            <div>
                                <form method="post" action="{% url 'delete_music' music.id%}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">DELETE</button>
                                </form>
                                <a href="{% url 'edit_music' music.id %}" class="btn btn-warning">Edit</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No musics uploaded yet...</p>
{% endif %}

{% endblock content %}
    
    