{% extends 'main/base.html' %}
{% load static %}
{% block title %}
  Music Profile
{% endblock %}

{% block styleSheets %}


  <!-- CSS styleSheets -->
  <link rel="stylesheet" href="{% static 'css/song_profile.css' %}" />
  <link rel="stylesheet" href="{% static 'css/progressbar.css' %}" />
{% endblock %}

{% block content %}
  <div class="container-fluid my-5 border" style="background-color: rgb(221, 215, 215);">
    <div class="container-fluid p-5 my-5" id="header_section" style="background-color: rgb(194, 189, 194);">
      <h1>{{ music.title }}</h1>
      <p>{{ user.username }}</p>
      <div class="image container-fluid">
        <img src="{% static 'gramaphon2.jpeg' %}" alt="song pic" />
      </div>
    </div>


    <!-- audio section-->
    <div class="container-fluid p-5 pt-0 my-5 border" style="background-color: rgb(255, 255, 255);">
      <br /><br />

      <div class="row">
        <div class="col-md-1">
          <form>
            <button type="submit" class="btn" style="margin-top: -10px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445" />
              </svg>
            </button>
          </form>
        </div>
        <div class="col-md-10">
          <div class="progress" style="background-color: antiquewhite; margin-right: 60px; margin-top: 10px;">
            <div class="progress-bar" style="width: 65%; background: #ed687c;">
              <span class="progress-icon fa fa-check" style="border-color:#ed687c; color:#ed687c;"></span>
              <div class="progress-value">65%</div>
            </div>
          </div>
        </div>
        <div class="col-md-1" style="padding-bottom: 3px;">
          <p>2:34 - 5:00</p>
        </div>
      </div>
    </div>

    <!-- end audio section-->

    <!-- Add comment section -->
    <div class="container-fluid p-5 my-5 border" style="background-color: rgb(255, 255, 255);">
      <div class="container-fluid border">
        <div class="row" style="padding-top: 10px;">
          <div class="col-md-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
            </svg>
          </div>

          <div class="col-md-3">
            <p>Add a comment</p>
          </div>

          <div class="col-md-8"></div>
        </div>
      </div>

      <form method="post" action="{% url 'comment_music' music.id %}" style="margin-top: 5px;">
        {% csrf_token %}
        <!-- last id = comment-->
        <textarea class="form-control" rows="5" id="{{ form.text.id_for_label }}" name="{{ form.text.name }}" style="margin-bottom: 5px;">{{ form.text.value }}</textarea>

        <input type="submit" name="add_comment" value="Submit" class="btn"  style="background-color: #ed687c;" />
      </form>
    </div>

    <!-- end Add comment section -->

    <!-- comments -->
    <div class="container-fluid p-5 my-5 border" style="background-color: rgb(255, 255, 255);">
      <h5>Comments</h5>
      <hr />

      <div class="container-fluid border" style="padding-top: 20px;">
        {% if comments.count > 0 %}
          {% for comment in comments %}
            {% if comment.status == 'accepted' %}
              <p style="text-decoration: underline;">{{ comment.author.username }} {{ comment.create_at }}</p>
              {% if user.is_staff %}
                <a href="{% url 'decline-comment' comment.id %}" class="btn btn-primary" role="button">Ban Comment</a>
              {% endif %}
              <p>{{ comment.text }}</p>
            {% else %}
              {% if user.is_staff or comment.author == user %}
                <div class="card mt-2">
                  <div class="card-body">
                    <p class="card-text">{{ comment.text }}</p>
                    <small class="text-muted">Posted by {{ comment.author.username }} on {{ comment.create_at }}</small>
                    <div class="card-footer text-danger">
                      <strong>{{ comment.status }}</strong>
                    </div>
                    {% if user.is_staff %}
                      {% if comment.status == 'pending' %}
                        <a href="{% url 'accept-comment' comment.id %}" class="btn btn-primary" role="button">accept the new comment</a>
                      {% else %}
                        <a href="{% url 'accept-comment' comment.id %}" class="btn btn-primary" role="button">reAccept</a>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endif %}
            <hr style="border-color: black;" />
          {% endfor %}
        {% else %}
          <p>No comments yet.</p>
        {% endif %}
        
      </div>
    </div>
    <!-- end comments -->
  </div>
{% endblock %}
