{% extends 'main/base.html' %}
{% load static %}


{% block title %}Explore{% endblock title %}


{% block content %}
    {%for x in users %}
        <a href="{% url 'userPage' x.id%}" class="link-offset-2 link-underline link-underline-opacity-0">
            <div class="card mt-2">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>@{{ x.username }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {%empty%}
        <p>No users yet :(</p>
    {% endfor %}
{% endblock content %}

